.header,.footer {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    border: solid;
    background-color: grey;
}

.display {
    flex: 1;
    background-color: lightgrey;
    width:100%;
    height:20%;
}

.keypad {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    justify-content: space-evenly;
}

.row {
    display: flex;
    flex: 1;
}

.button {
    border:solid;
    flex: auto;
    font-size: 100%;
    border-width: 1px;
    padding: 0;
    margin: 0;
}

.doubleButton {
    border:solid;
    border-width: 1px;
    flex: auto;
    font-size: 100%;
    padding: 0;
    margin: 0;
}